@import "./new-nav.css";
@import "./bs.css";
@import "./img.css";

.div1 {
  display: flex;
  float: left;
  border-radius: 10px;
  background: rgb(20, 105, 155);
  padding: 15px;
  width: 38%;
  margin: 1vw;
}

h1 {
  text-align: center;
  writing-mode: vertical-lr;
  font-family: "Karla", sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  line-height: 30px;
}
h2 {
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 35px;
  font-weight: normal;
  color: rgb(20, 105, 155);
}

body {
  background-color: rgb(239, 240, 240);
  font-family: "IBM Plex Mono", monospace;
}

table {
  margin: 20px;
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  text-align: left;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: rgb(239, 240, 240);
}
