@import "./new-nav.css";
@import "./img.css";

.div1 {
  display: flex;
  float: left;
  border-radius: 10px;
  background: rgb(20, 105, 155);
  padding: 15px;
  width: 38%;
  margin: 1vw;
}

h1 {
  text-align: center;
  writing-mode: vertical-lr;
  font-family: "IBM Plex Mono", monospace;
  font-size: 25px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  line-height: 30px;
}
h2 {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 25px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 40px;
  font-weight: normal;
  padding-top: 3rem;
  color: rgb(87, 83, 83);
}

h4 {
  text-align: left;
  font-family: "IBM Plex Mono", monospace;
  font-size: 25px;
  font-weight: normal;
  color: rgb(87, 83, 83);
  text-transform: uppercase;
  line-height: 30px;
}

p1 {
  color: white;
}

body {
  background-color: rgb(239, 240, 240);
  font-family: "Karla", sans-serif;
  font-size: 17px;
}

table {
  margin: 20px;
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  text-align: left;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: rgb(239, 240, 240);
}

ul.b {
  list-style-type: square;
  color: white;
  position: relative;
  padding: 20px;
  left: 30px;
}
