.row {
  height: 100px;
}
.col1 {
  background-color: red;
  width: 33.33%;
}
.col2 {
  background-color: yellow;
  width: 33.33%;
}
.col3 {
  background-color: green;
  width: 33.33%;
}

@media only screen and (max-width: 576px) {
  [class*="col"] {
    width: 100%;
  }
}
