.row {
  height: 140px;
}
.col1 {
  background-color: red;
  width: 33.3%;
}
.col2 {
  background-color: yellow;
  width: 33.3%;
}
.col3 {
  background-color: green;
  width: 33.3%;
}

@media only screen and (max-width: 576px) {
  .row {
    display: flex;
    flex-direction: column;
    height: 425px;
  }
}
